<nav class="nav col-12 navbar navbar-expand-md navbar-light bg-white">
    {{#if @blog.navigation}}
    {{^is "home"}}
      <a class="navbar-brand" href="{{@blog.url}}">{{@blog.title}}</a>

    <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {{/is}}


    <div class="collapse navbar-collapse {{#is "home"}}justify-content-center{{else}}justify-content-end{{/is}}" id="navbarSupportedContent">
      {{navigation}}
    </div>
    {{/if}}

  </nav>
