{{!< default}}

  {{> "header"}}

  <main class="row masonry" data-target=".card" data-col-xs="12" data-col-md="6" data-col-lg="4">
    {{#foreach posts}}
    {{> "post-card"}}
    {{/foreach}}
  </main>
