{{!< default}}

  {{> "header"}}

  {{#post}}

  <main>
    <article class="row">

      {{#if feature_image}}
      <a href="{{url}}"><img class="feature-image shadow mb-5" src="{{feature_image}}"></a>
      {{/if}}

      <header class="col-12 mt-5 mb-2">
        <h1 class="display-4">{{title}}</h1>
      </header>

      <section class="col-12 px-3">
        {{content}}
      </section>

    </article>
  </main>

  {{/post}}
