img {
  max-width: 100%;
}
.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 0px;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
}

.nav-link {
  padding: 0rem 1rem;
}

.profile-image {
  max-width: 100px;
  height: auto;
}

.zoomfx-container {
    overflow: hidden;
}

.zoomfx {
    transition: all 1.5s ease;
    transform: scale(1.01);
}

.zoomfx:hover {
    transform: scale(1.1);
}

.shadow-warning {
  box-shadow: 0 0.5rem 1rem rgba(255, 193, 7, 0.4) !important;
}
